<div class="search">
  <form action="http://www.baidu.com/baidu" target="_blank">
    <input name=tn type=hidden value=baidu placeholder="<%= __('search') %>">
    <a href="http://www.baidu.com/"><img src="http://img.baidu.com/img/logo-80px.gif" alt="Baidu" align="bottom" border="0"></a>
    <input type=text name=word size=30>
  </form>
</div>
